.App {
  text-align: center;
  min-width: inherit;
	min-height: inherit;
	right: inherit;
	bottom: inherit;
  position: inherit;

  display: grid;
	grid-template:
		"n" 1fr
		"g" 1fr
		"a" 1fr /
    1fr;
}
