html {
	min-width: 100%;
	min-height: 100%;
	right: 0;
  bottom: 0;
  margin: 0;
	position: fixed;
}

body {
	min-width: inherit;
	min-height: inherit;
	right: inherit;
	bottom: inherit;
  position: inherit;

  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  min-width: inherit;
	min-height: inherit;
	right: inherit;
	bottom: inherit;
  position: inherit;
}
